*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Orbitron', sans-serif;
    background:#05050d;
    color:white;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.8);
    position:sticky;
    top:0;
}

.logo{
    font-size:24px;
    font-weight:700;
}

.logo span{
    color:#00f7ff;
    text-shadow:0 0 10px #00f7ff;
}

nav a{
    margin-left:20px;
    text-decoration:none;
    color:white;
    font-size:14px;
}

.btn-nav{
    padding:8px 16px;
    border:1px solid #a855f7;
    border-radius:6px;
    transition:0.3s;
}

.btn-nav:hover{
    background:#a855f7;
    box-shadow:0 0 15px #a855f7;
}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:42px;
    margin-bottom:15px;
    text-shadow:0 0 20px #a855f7;
}

.hero p{
    opacity:0.7;
    margin-bottom:25px;
}

.btn-main{
    padding:14px 28px;
    background:#a855f7;
    border-radius:8px;
    text-decoration:none;
    color:white;
    box-shadow:0 0 20px #a855f7;
    transition:0.3s;
}

.btn-main:hover{
    transform:scale(1.05);
}

/* PRODUCTS */
.products{
    padding:80px 10%;
    text-align:center;
}

.products h2{
    margin-bottom:40px;
}

.product-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap:30px;
}

.card{
    background:rgba(255,255,255,0.05)
