* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f0f0f;
    color: white;
}

/* NAVBAR */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111;
    position: sticky;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #111, #1c1c1c);
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #6c5ce7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #5a4bd6;
}

/* PRODUCTS */
.products {
    padding: 60px 10%;
    text-align: center;
}

.product-card {
    background: #1a1a1a;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
    border-radius: 10px;
}

.product-card span {
    display: block;
    margin: 15px 0;
    font-weight: bold;
}

/* WHY */
.why, .faq {
    padding: 60px 10%;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #111;
    margin-top: 40px;
}
