@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Orbitron', sans-serif;
}

body{
    background:#0a0a0f;
    color:white;
}

/* NAVBAR */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

.logo{
    font-size:24px;
    font-weight:700;
}

.logo span{
    color:#00f7ff;
    text-shadow:0 0 10px #00f7ff;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.btn-nav{
    padding:8px 18px;
    border:1px solid #00f7ff;
    border-radius:6px;
    transition:0.3s;
}

.btn-nav:hover{
    background:#00f7ff;
    color:black;
    box-shadow:0 0 15px #00f7ff;
}

/* HERO */
.hero{
    text-align:center;
    padding:120px 20px;
    background:radial-gradient(circle at center, #111 0%, #000 100%);
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
    text-shadow:0 0 15px #a855f7;
}

.hero p{
    margin-bottom:30px;
    color:#aaa;
}

.btn-main{
    padding:14px 30px;
    background:#a855f7;
    border:none;
    border-radius:8px;
    color:white;
    text-decoration:none;
    transition:0.3s;
    box-shadow:0 0 20px #a855f7;
}

.btn-main:hover{
    transform:scale(1.05);
    box-shadow:0 0 30px #a855f7;
}

/* PRODUCTS */
.products{
    padding:80px 10%;
    text-align:center;
}

.products h2{
    margin-bottom:50px;
    font-size:32px;
}

.card{
    display:inline-block;
    width:300px;
    padding:30px;
    margin:20px;
    border-radius:15px;
    background:rgba(255,255,255,0.05);
    backdrop-filter:blur(15px);
    border:1px solid rgba(255,255,255,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px #a855f7;
}

.highlight{
    border:1px solid #00f7ff;
    box-shadow:0 0 20px #00f7ff;
}

.price{
    font-size:28px;
    margin:20px 0;
    color:#00f7ff;
    text-shadow:0 0 10px #00f7ff;
}

.btn-card{
    display:inline-block;
    padding:10px 20px;
    border-radius:6px;
    background:#a855f7;
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.btn-card:hover{
    box-shadow:0 0 20px #a855f7;
    transform:scale(1.05);
}

/* FAQ */
.faq{
